/* base */
* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --red-color: #e53637;
    --text-color: #b7b7b7;
    --bg-color: #0b0c2a;
    --menu-color: #4c4c4c;
    --header-color: #070720;
    --header-nav-height: 60px;
}

.page {
    overflow: hidden;
}

.space {
    padding-bottom: 48px;
}



/* mobile menu */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn linear 0.2s;
    z-index: 4;
}

.menu-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 200px;
    background-color: var(--white-color);
    transform: translateX(100%);
    transition: all linear 0.3s;
    opacity: 0;
    z-index: 15;
}

.menu-symbol {
    font-size: 2.5rem;
    color: #777;
    position: absolute;
    top: 3rem;
    right: 2rem;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.menu-list {
    list-style: none;
    padding-left: 30px;
    padding-top: 40px;
}

.menu-item {
    font-size: 2rem;
    line-height: 2rem;
    padding: 8px 0;
    cursor: pointer;
}

.menu-link {
    color: var(--text-color);
    text-decoration: none;
    display: block;
}

.input:checked ~ .overlay {
    display: block;
}

.input:checked ~ .menu-nav {
    transform: translateX(0%);
    opacity: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* end mb menu */

.active {
    background-color: var(--red-color);
}

.text-active {
    color: var(--white-color) !important;
}

/* header */
.header {
    background-color: var(--header-color);
    height: 120px;
}

.header__menu-bar {
    display: flex;
    height: var(--header-nav-height);
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 16px 0 12px 0;
}

.header__nav {
    height: var(--header-nav-height);
    display: flex;
    align-items: center;
}

.header__nav-menu-item {
    list-style: none;
    font-size: 1.6rem;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 52px;
    padding: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.header__nav-menu-item:hover .header__nav-menu-link {
    color: var(--white-color);
}

.header__nav-menu-item:hover .nav-menu-icon {
    color: var(--white-color);
}

.header__nav-menu-item:hover .header__sub-nav {
    display: block;
}

.nav-menu-icon {
    color: var(--text-color);
    font-size: 1.2rem;
    margin-left: 8px;
    transition: 0.3s;
}

/* nav menu */
.header__sub-nav {
    position: absolute;
    list-style: none;
    background-color: var(--white-color);
    top: var(--header-nav-height);
    padding: 0;
    width: 160px;
    left: 0;
    display: none;
    animation: slideUp ease 0.3s;
    z-index: 2;
}

@keyframes slideUp {
    from {
        opacity: 0;
        top: calc(var(--header-nav-height) + 20px);
    }
    to {
        opacity: 1;
        top: var(--header-nav-height);
    }
}

.header__sub-item {
    padding: 8px 20px;
}

.header__sub-item:hover {
    background-color: rgb(202, 202, 202);
}

.header__sub-link {
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.4rem;
}
/* end small menu */

.header__nav-menu-link {
    text-decoration: none;
    color: var(--text-color);
    text-align: center;
    transition: 0.3s;
}

.header__nav-menu {
    display: flex;
    height: var(--header-nav-height);
    align-items: center;
}

.header__right {
    list-style: none;
}

.header__right-search {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--white-color);
    margin-right: 16px;
}

.header__right-user {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--white-color);
}

/* wrap menu */
.header__menu-wrap {
    height: var(--header-nav-height);
    background-color: var(--menu-color);
    padding: 8px;
    z-index: 2;
}

.header__menu-wrap-btn {
    background-color: #222;
    border-radius: 4px;
    float: right;
    padding: 8px;
    display: flex;
    align-items: center;
    margin: 4px;
    cursor: pointer;
}

.header__menu-text {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 400;
    cursor: pointer;
}

.header__menu-icon {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--white-color);
    margin-left: 8px;
}

/* container */
.container {
    background-color: var(--bg-color);
    /* height: 2000px; */
}

/* slider */
.slider {
    padding: 48px 0;
}

.slider__detail {
    position: relative;
}

.dot {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    bottom: 20px;
}

.dot-btn {
    width: 10px;
    height: 10px;
    background-color: var(--text-color);
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    display: block;
}

.dot-active {
    background-color: var(--white-color);
}

.slider__background {
    padding-top: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
}

.slider__background {
    
}

.slider__slide-btn {
    position: absolute;
    top: 40%;
    left: -34px;
    width: 68px;
    height: 68px;
    line-height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242540;
    border: 6px solid var(--bg-color);
    z-index: 1;
    transform: rotate(-45deg);
    cursor: pointer;
}

.slide-btn-icon {
    font-size: 3rem;
    font-weight: 400;
    color: var(--white-color);
    transform: rotate(-45deg);
}

.slide-right {
    left: auto;
    right: -34px;
    transform: rotate(45deg);
}

.slider__info {
    margin: 0 0 60px 60px;
}

.slider__type {
    background-color: var(--white-color);
    width: fit-content;
    padding: 6px 12px 4px;
}

.slider__type-name {
    font-size: 1.4rem;
    color: var(--red-color);
    font-weight: 200;
    display: flex;
    align-items: center;
}

.slider__tittle {
    font-size: 4rem;
    color: var(--white-color);
    line-height: 5rem;
    font-weight: 500;
    margin: 28px 0 6px 0;
}

.slider__des {
    font-size: 1.6rem;
    line-height: 2rem;
    color: var(--white-color);
    margin: 0;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.slider__btn {
    background-color: var(--red-color);
    width: fit-content;
    border-radius: 4px;
    margin-top: 32px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.slider__btn-text {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: 2px;
}

.btn-icon {
    color: var(--white-color);
    font-size: 1.2rem;
    margin-left: 6px;
}

/* content */
.content {
    padding-bottom: 40px;
}

.content__list {
    margin-bottom: 28px;
}

/* content trending */
.content__trend {
    margin-bottom: 20px;
}

.content__tittle {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.content__tittle-name {
    position: relative;
    font-size: 2.4rem;
    color: var(--white-color);
    text-transform: uppercase;
    padding-left: 20px;
}

.content__tittle-name::after {
    content: "";
    position: absolute;
    width: 4px;
    background: var(--red-color);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;

}

.content__tittle-more {
    cursor: pointer;
}

.content__tittle-act {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 4px;
}

.content-icon {
    color: var(--white-color);
    font-size: 1.2rem;
    margin-left: 4px;
}

/* film info */
.content__item {
    margin-bottom: 20px;
    border-radius: 4px;
    transition: 0.3s;
}

.content__item:hover .content__item-img {
    opacity: 0.7;
}

.content__item-img {
    position: relative;
    padding-top: 150%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.content__ep {
    position: absolute;
    font-size: 1.2rem;
    top: 12px;
    left: 12px;
    background: var(--red-color);
    color: var(--white-color);
    padding: 4px 12px;
    display: inline-block;
    border-radius: 4px;
}

.content__cmt {
    position: absolute;
    font-size: 1.2rem;
    bottom: 10px;
    left: 12px;
    background: var(--menu-color);
    color: var(--white-color);
    padding: 4px 12px;
    display: inline-block;
    border-radius: 4px;
}

.content__view {
    position: absolute;
    font-size: 1.2rem;
    bottom: 10px;
    right: 12px;
    background: var(--menu-color);
    color: var(--white-color);
    padding: 4px 12px;
    display: inline-block;
    border-radius: 4px;
}

.content__item-type {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px 0 16px 0;
}

.type-btn {
    background-color: var(--menu-color);
    width: fit-content;
    border-radius: 12px;
    margin-right: 4px;
}

.type {
    color: var(--white-color);
    font-size: 1rem;
    padding: 4px 12px;
}

.content__item-tittle {
    
}

.content__item-name {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: var(--white-color);
    text-decoration: none;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* top view & new cmt */
/* top view */
.top-view {

}

.top-view__header {
    padding: 8px 0;
}

.top-view__tittle {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 23px;
}

.top-view__tittle-name {
    position: relative;
    font-size: 1.6rem;
    color: var(--white-color);
    text-transform: uppercase;
    padding-left: 20px;
}

.top-view__tittle-name::after {
    content: "";
    position: absolute;
    width: 4px;
    background: var(--red-color);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
}

.top-view__list {
    list-style: none;
}

.top-view__info {
    cursor: pointer;
}

.top-view__name {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    margin-right: 8px;
}

.choose {
    color: var(--white-color);
}

.top-view__item {
    position: relative;
    margin-bottom: 12px;
}

.top-view__item-img {
    padding-top: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.top-view__item-tittle {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: var(--menu-color);
    color: var(--white-color);
    padding: 4px 12px;
    display: inline-block;
    border-radius: 4px;
    margin-right: 16px;
}

.top-view__item-name {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: var(--white-color);
    text-decoration: none;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.top-view__ep {
    position: absolute;
    font-size: 1.2rem;
    top: 12px;
    left: 12px;
    background: var(--red-color);
    color: var(--white-color);
    padding: 4px 12px;
    display: inline-block;
    border-radius: 4px;
}

.top-view__view {
    position: absolute;
    font-size: 1.2rem;
    top: 12px;
    right: 12px;
    background: var(--red-color);
    color: var(--white-color);
    padding: 4px 12px;
    display: inline-block;
    border-radius: 4px;
}

/* new cmt */
.new-cmt {

}

.new-cmt__header {
    padding: 8px 0;
}

.new-cmt__tittle {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 23px;
}

.new-cmt__tittle-name {
    position: relative;
    font-size: 1.6rem;
    color: var(--white-color);
    text-transform: uppercase;
    padding-left: 20px;
}

.new-cmt__tittle-name::after {
    content: "";
    position: absolute;
    width: 4px;
    background: var(--red-color);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 3rem;
}

.new-cmt__item {
    margin-bottom: 20px;
}

.new-cmt__des {
    display: flex;
}

.new-cmt__img {
    padding-top: 55%;
    min-width: 35%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 16px;
}

.new-cmt__info {

}

.new-cmt__type {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 20px 0 16px 0;
}

.new-cmt__type-btn {
    background-color: var(--menu-color);
    width: fit-content;
    border-radius: 12px;
    margin-right: 4px;
}

.new-cmt__type-btn-text {
    color: var(--white-color);
    font-size: 1rem;
    padding: 4px 12px;
}

.new-cmt__info-name {
    font-size: 2rem;
    line-height: 2.4rem;
    font-weight: 500;
    color: var(--white-color);
    margin-bottom: 12px;
}

.new-cmt__info-view {
    font-size: 1.2rem;
    bottom: 112px;  
    right: 12px;
    color: var(--text-color);
    padding: 4px 12px 4px 0;
    display: inline-block;
    border-radius: 4px;
}

/* footer */
.footer {
    background-color: var(--header-color);
    padding: 60px 0;
    position: relative;
}

.footer__logo {

}

.footer__list {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 0;
}

.footer__item {
    margin-right: 48px;
}

.footer__item:hover .footer__link {
    color: var(--red-color);
}

.footer__link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
    transition: all ease 0.3s;
}

.footer__end {
    color: var(--text-color);
    font-size: 1.4rem;
    line-height: 2rem;
}

.footer__end a {
    text-decoration: none;
    color: var(--white-color);
    transition: 0.3s;
}

.footer__end a:hover {
    color: var(--red-color);
}

.page-up {
    position: absolute;
    left: 50%;
    top: -15%;
    margin-left: -25px;
    cursor: pointer;
}

.page-up-btn {
    display: inline-block;
    font-size: 3rem;
    color: #ffffff;
    height: 50px;
    width: 50px;
    background: #e53637;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
}

.up-icon {
    position: relative;
    top: 2px;
    left: -1px;
}